<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reinf.Properties.Settings.reinfConnectionString" connectionString="Data Source=SERGIO-PC;Initial Catalog=reinf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_RecepcaoLoteReinf">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_RecepcaoLoteReinf1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://spcdsrvv3159.spcddom0001.serpro/RecepcaoLoteReinf.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RecepcaoLoteReinf"
                contract="RecebeLote.RecepcaoLoteReinf" name="BasicHttpBinding_RecepcaoLoteReinf" />
        </client>
    </system.serviceModel>
</configuration>